body{
    background-image:url( First_Floor.jpg);
    background: no-repeat;
}

.class1left{
    background-color: orangered;
    position: absolute;
    left: 210px;
    top: 0;
    height:96px;
    border: solid 5px#000000 ;
    width: 105px;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    font-size: 22px;
    display: flex;
    line-height: 95px;
     display: block;

}
.class1left:hover{
    opacity: .5;
}
.class2left{
    background-color: orangered;
    position: absolute;
    left: 210px;
    top: 96px;
    height:96px;
    border: solid 5px#000000 ;
    width: 105px;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    font-size: 22px;
    display: flex;
    line-height: 95px;
     display: block;
}
.class2left:hover{
    opacity: .5;
}
.class3left{
    background-color: orangered;
    position: absolute;
    left: 210px;
    top: 192px;
    height:90px;
    border: solid 5px#000000 ;
    width: 105px;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    font-size: 22px;
    display: flex;
    line-height: 95px;
     display: block;
}.class3left:hover{
    opacity: .5;
}
.stair1{
    background-color: red;
    position: absolute;
    left: 210px;
    top: 290px;
    height:70px;
    border: solid 5px#000000 ;
    width: 105px;
    
    font-weight: bold;
    color: #ffffff;
    font-size: 15px;
    display: flex;
    line-height: 10px;
     display: block;
}.stair1:hover{
    opacity: .5;
}
#washroom{
    background-color: brown;
    position: absolute;
    left: 210px;
    top: 360px;
    height:70px;
    border: solid 5px#000000 ;
    width: 105px;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    font-size: 22px;
    display: flex;
    line-height: 50px;
     display: block;
}#washroom:hover{
    opacity: .5;
}
.staffroom{
    background-color: rgb(54, 142, 230);
    position:absolute;
    left: 210px;
    top: 402px;
    height:160px;
    border: solid 5px#000000 ;
    width: 105px;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    font-size: 22px;
    display: flex;
    line-height: 50px;
     display: block;
}.staffroom:hover{
    opacity: .5;
}
.class1right{
    background-color: orangered;
    position: absolute;
    left: 433px;
    top: 0;
    height:100px;
    border: solid 5px#000000 ;
    width: 113px;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    font-size: 22px;
    display: flex;
    line-height: 50px;
     display: block;
}.class1right:hover{
    opacity: .5;
}
.class2right{
    background-color: orangered;
    position:absolute;
    left: 433px;
    top: 108px;
    height:103px;
    border: solid 5px#000000 ;
    width: 113px;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    font-size: 22px;
    display: flex;
    line-height: 95px;
     display: block;
}.class2right:hover{
    opacity: .5;
}
.lab{
    background-color: rgb(54, 142, 230);
    position:absolute;
    left: 433px;
    top: 216px;
    height:149px;
    border: solid 5px#000000 ;
    width: 113px;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    font-size: 22px;
    display: flex;
    line-height: 95px;
     display: block;
}.lab:hover{
    opacity: .5;
}
.openspace{
   background-color:greenyellow;
    position:absolute;
    left: 433px;
    top: 370px;
    height:160px;
    border: solid 5px#000000 ;
    width: 180px;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    font-size: 22px;
    display: flex;
    line-height: 95px;
     display: block;

}.openspace:hover{
    opacity: .5;
}
.conferenceroom{
    background-color:rgb(58, 166, 233);
    position:absolute;
    left: 623px;
    top: 380px;
    height:150px;
    border: solid 5px#000000 ;
    width: 239px;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    font-size: 22px;
    display: flex;
    line-height: 50px;
     display: block;

}.conferenceroom:hover{
    opacity: .5;
}
.stairs2{
    background-color: red;
    position: absolute;
    left: 500px;
    top:590px ;
    height:100px;
    border: solid 5px#000000 ;
    width: 60px;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    font-size: 15px;
    display: flex;
    line-height:15px;
     display: block;
}
.stairs2:hover{
    opacity: .5;
}
.examsec{
    background-color: #3891c5;
    position: absolute;
    left: 563px;
    top:590px ;
    height:100px;
    border: solid 5px#000000 ;
    width: 145px;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    font-size: 22px;
    display: flex;
    line-height: 50px;
     display: block;
}.examsec:hover{
    opacity: .5;
}

.academic{
    background-color: #3891c5;
    position: absolute;
    left: 709px;
    top:590px ;
    height:100px;
    border: solid 5px#000000 ;
    width: 150px;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    font-size: 22px;
    display: flex;
    line-height: 50px;
     display: block;
}
.academic:hover{
    opacity: .5;
}
.link{
   
    font-weight: bold;
    color: #000000;
    margin:5%  5% 5%;
    display: inline-block; 
    text-align: center;
    text-decoration: none;
 } 
.notice{
    width:50%;
    margin: 20px auto;
    box-shadow: 1px 1px 10px 2px #333; 
    float: right;
    border-radius: 5px;
    height: 330px;
}
.header{
    text-align: center;
    background-color: rgb(66, 63, 63);
    color: aliceblue;
    padding: 15px 0px;
}
#container{
    width: 300px;
    border: 2px solid black;
    float: right;
    background-color: azure;
    height: 50px;
    position: absolute;
    left: 75%;
    top: 370px;
    font-size:20px ;
    margin: 2px;
    text-align: center;

}
#time{
    font-weight: bold;
}




/* body {font-family: Arial, Helvetica, sans-serif;} */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 10%; /* Full width */
  height: 10%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  color: black;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}



/* The Modal (background) */
.modal1 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 200px;
    width: 10%; /* Full width */
    height: 10%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content1 {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    color: black;
  }
  
  /* The Close Button */
  .close1 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close1:hover,
  .close1:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }




  /* The Modal (background) */
.modal3 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 300px;
    width: 10%; /* Full width */
    height: 10%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content3 {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    color: black;
  }
  
  /* The Close Button */
  .close3 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close3:hover,
  .close3:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }


/* The Modal (background) */
.modal4 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 400px;
    width: 10%; /* Full width */
    height: 10%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content4 {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    color: black;
  }
  
  /* The Close Button */
  .close4 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close4:hover,
  .close4:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }


  
  
 





